name: Build and Test

on:
  push:
    branches: ['dev', 'main']
  pull_request:
    branches: ['dev', 'main']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Read versions from package.json
        run: |
          YARN_VERSION=$(jq -r '.packageManager' package.json | cut -d'@' -f2)
          NODE_VERSION=$(jq -r '.engines.node' package.json)
          echo "YARN_VERSION=$YARN_VERSION" >> $GITHUB_ENV
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Enable Corepack
        run: corepack enable

      - name: Set Yarn version
        run: corepack prepare yarn@${{ env.YARN_VERSION }} --activate

      - name: Install dependencies
        run: yarn install

      - name: Check i18n keys (en.json)
        run: yarn lint:i18n

      - name: Build the project
        run: yarn build

      - name: Run tests
        run: yarn test --coverage
