name: Build and Test

on:
  push:
    branches: [ "dev" , "main" ] 
  pull_request:
    branches: [ "dev" , "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Enable Corepack
        run: corepack enable

      - name: Set Yarn version
        run: corepack prepare yarn@4.1.1 --activate

      - name: Install dependencies
        run: yarn install

      - name: Build the project
        run: yarn build

      - name: Run tests
        run: yarn test --coverage