name: Deploy via SSH

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    name: Deploy to SSH Server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Read versions from package.json
        run: |
          YARN_VERSION=$(jq -r '.packageManager' package.json | cut -d'@' -f2)
          NODE_MAJOR=$(jq -r '.engines.node' package.json | sed -E 's/[^0-9]*([0-9]+).*/\1/')
          echo "YARN_VERSION=$YARN_VERSION" >> $GITHUB_ENV
          echo "NODE_MAJOR=$NODE_MAJOR" >> $GITHUB_ENV

      - name: Run deployment script
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262 # v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          envs: YARN_VERSION,NODE_MAJOR
          request_pty: true
          script_stop: true
          script: |
            become capx-test git -C '$HOME/www/js' fetch origin
            become capx-test git -C '$HOME/www/js' reset --hard origin/dev
            become capx-test git -C '$HOME/www/js' pull origin dev
            become capx-test webservice --mem 2G --cpu 2 node${NODE_MAJOR} shell -- npx corepack enable --install-directory '$HOME/.local/bin'
            become capx-test webservice --mem 2G --cpu 2 node${NODE_MAJOR} shell -- corepack prepare yarn@${YARN_VERSION} --activate
            become capx-test webservice --mem 2G --cpu 2 node${NODE_MAJOR} shell -- yarn --cwd '$HOME/www/js' install
            become capx-test webservice --mem 2G --cpu 2 node${NODE_MAJOR} shell -- yarn --cwd '$HOME/www/js' build
            become capx-test webservice restart
